<section class="Anyfooter text-center text-white   ">
    <div class="content-footer text-white  py-5 px-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="location ">
                        <h2 class="text-uppercase ">Location</h2>
                   <h6>2215 John Daniel Drive</h6>
                        <h6>Clark, MO 65243</h6>
                        
                    </div>     
                </div>
                <div class="col-lg-4">
                    <div class="middel ">
                        <h2 class="text-uppercase ">AROUND THE WEB</h2>
                   <div class="icons d-flex justify-content-center"> 
                    <div class="icon d-flex me-2 justify-content-center align-items-center">
                        <i class="fa-brands fa-facebook-f"></i>

                    </div>
                    <div class="icon d-flex me-2 justify-content-center align-items-center">
                        <i class="fa-brands fa-twitter"></i>

                    </div>
                    <div class="icon d-flex me-2 justify-content-center align-items-center">
                        <i class="fa-brands fa-instagram"></i>

                    </div>
                    <div class="icon d-flex me-2 justify-content-center align-items-center">
                        <i class="fa-brands fa-behance"></i>

                    </div>
                    
                    



                   </div>
                        
                    </div>     
                </div>
                <div class="col-lg-4">
                    <div class="freeLancer ">
                        <h2 class="text-uppercase ">About Freelancer</h2>
                   <h6>Freelance is a free to use, licensed Bootstrap theme created by Route</h6>
                        
                        
                    </div>     
                </div>

            </div>
        </div>

    </div>
    <div class="end text-center p-5 lead">
        <h6> Copyright © Your Website 2021</h6>


    </div>
</section>
