<section class="about vh-100 py-5 mt-5 d-flex   align-items-center justify-content-center  ">
    <div class="caption p-5 container d-flex  justify-content-center flex-column align-items-center">
       
        <h1 class="mt-2">about component</h1>
        <div class="iconStar d-flex justify-content-center align-items-center ">
            <div class="line"></div>
            <i class="fa-solid fa-star text-white position-relative"></i>
            <div class="line"></div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="left">
                    <p class="">
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right">
                    <p >
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </p>
                </div>
            </div>
        </div>
        
    </div>



</section>